__pycache__

# Build folders
bin/
build/
out/

# Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Dependency files
*.d

# Logs and debug
*.log
*.stackdump
core

# Editor and OS junk
.DS_Store
*.swp
*~
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
compile*
.cache

bench/*.json